<!DOCTYPE html>
<html>
  <head>
    <title>Arcade PC Games</title>
  </head>
  <body>
  <a href="http://best.io/">Computer arcade games!</a>
<img src="https://lolygames.com/games-file/large/l_20131229125218.jpg">
  </body>
</html> 
