<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
   <h1>Dumb game apps</h1>
   <ul>
     <li>the moron test</li>
     <li><img src = "https://lh3.googleusercontent.com/bgkP4K5r9qEk11P7Zt_YtWo16vygIS_nTOtP9s5SUAdYMmO-9o0pvM4aEpfUERNffA=s180"></li>
     <li></li>
   </ul>
  </body>
</html>
