<!DOCTYPE = html>
<html>
  <head>
    <!--<tilte>Final Project</tilte>-->
    <link rel="stylesheet" href="stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Concert+One|Didact+Gothic|Francois+One|Nunito|Gaegu|Libre+Barcode+128+Text|Questrial" rel="stylesheet">
  </head>
  <body>
    <!--<h1 class="pinktext"></h1>-->
    <h1 class="title">BRAIN BREAK</h1>
     <div id="upleft"> Music </div>
    <div id="upright"> Games </div>
     <div id="below"> About Us </div>
    <!--<a href = [link]></a>-->
    <!--<p></p>-->
  <img class="flicker1" src = "https://farm2.staticflickr.com/1825/42777254984_2798c92e97.jpg" width="185" height="338" alt="image">
  <img class="flicker2" src = "https://farm1.staticflickr.com/916/28607139887_f4acc3b311.jpg" width="246" height="410" alt="image copy">
    
  <p id="About_us">We created this site as a final project for our Kode With Klossy summer camp, with the purpose to entertain others and provide them with a site where they can play games and find different playlists of their preferences.</p>
  
  </body>
</html>